process {

	$reads_download_1_1.container = "flowcraft/getseqena:0.4.0-1"
	$downsample_fastq_1_2.container = "flowcraft/seqtk:1.3.0-3"
	$fastqc_1_4.container = "flowcraft/fastqc:0.11.7-1"
	$trimmomatic_1_4.container = "flowcraft/trimmomatic:0.36-1"
	$fastqc2_1_6.container = "flowcraft/fastqc:0.11.7-1"
	$spades_1_7.container = "flowcraft/spades:3.12.0-1"
	$assembly_mapping_1_8.container = "flowcraft/bowtie2_samtools:1.0.0-1"
	$process_assembly_mapping_1_8.container = "flowcraft/bowtie2_samtools:1.0.0-1"
	$pilon_1_9.container = "flowcraft/pilon:1.22.0-1"
	$pilon_report_1_9.container = "flowcraft/pilon:1.22.0-1"
	$mlst_1_10.container = "ummidock/mlst:latest"

}