params {

	accessions = "Spneumoniae_SraAccList.one.txt"

	/*
	Component 'reads_download_1_1'
	-----------------------------
	*/
	asperaKey_1_1 = "/Users/jcarrico/.ssh/id_rsa.pub" 

	/*
	Component 'downsample_fastq_1_2'
	-------------------------------
	*/
	genomeSize_1_2 = 2.1
	depth_1_2 = 100
	seed_1_2 = 100
	clearInput_1_2 = true

	/*
	Component 'integrity_coverage_1_3'
	---------------------------------
	*/
	genomeSize_1_3 = 2.1
	minCoverage_1_3 = 20

	/*
	Component 'fastqc_trimmomatic_1_4'
	---------------------------------
	*/
	adapters_1_4 = 'None'
	trimSlidingWindow_1_4 = '5:20'
	trimLeading_1_4 = 3
	trimTrailing_1_4 = 3
	trimMinLength_1_4 = 55
	clearInput_1_4 = false

	/*
	Component 'check_coverage_1_5'
	-----------------------------
	*/
	genomeSize_1_5 = 2.1
	minCoverage_1_5 = 20

	/*
	Component 'fastqc_1_6'
	---------------------
	*/
	adapters_1_6 = 'None'

	/*
	Component 'spades_1_7'
	---------------------
	*/
	spadesMinCoverage_1_7 = 2
	spadesMinKmerCoverage_1_7 = 2
	spadesKmers_1_7 = 'auto'
	clearInput_1_7 = true
	disableRR_1_7 = false

	/*
	Component 'assembly_mapping_1_8'
	-------------------------------
	*/
	minAssemblyCoverage_1_8 = 'auto'
	AMaxContigs_1_8 = 100
	genomeSize_1_8 = 2.1

	/*
	Component 'pilon_1_9'
	--------------------
	*/
	clearInput_1_9 = true

	/*
	Component 'mlst_1_10'
	--------------------
	*/
	mlstSpecies_1_10 = null


}
