process {

	$reads_download_1_1.cpus = 1
	$reads_download_1_1.memory = '1GB'
	$downsample_fastq_1_2.cpus = 1
	$downsample_fastq_1_2.memory = { 4.GB * task.attempt }
	$fastqc_1_4.cpus = 2
	$fastqc_1_4.memory = '4GB'
	$trimmomatic_1_4.cpus = 2
	$trimmomatic_1_4.memory = { 4.GB * task.attempt }
	$fastqc2_1_6.cpus = 2
	$fastqc2_1_6.memory = '4GB'
	$spades_1_7.cpus = 4
	$spades_1_7.memory = { 5.GB * task.attempt }
	$spades_1_7.scratch = false
	$assembly_mapping_1_8.cpus = 4
	$assembly_mapping_1_8.memory = { 5.GB * task.attempt }
	$process_assembly_mapping_1_8.cpus = 1
	$process_assembly_mapping_1_8.memory = { 5.GB * task.attempt }
	$pilon_1_9.cpus = 4
	$pilon_1_9.memory = { 7.GB * task.attempt }
	$pilon_report_1_9.cpus = 1
	$pilon_report_1_9.memory = { 7.GB * task.attempt }

}
